body {background-color: rgb(0, 217, 255);}
h1 {font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
p {font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 60, 60);
}
h2 {font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(58, 54, 54);
}
.container {
    max-width: 800px;
    margin:auto;
    padding: 20px;
    

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .column {
    flex: 1;
    padding: 10px;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  #Recuadro{
    border: 10px solid rgb(63, 34, 34);
    background-color: rgb(245, 255, 111);
  } 

  #Boton {
    border:3px solid black;
    background-color: rgb(132, 0, 255);
    max-width:max-content;
    margin-top: 20px;
    justify-self: flex-start;
  }
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .brand {
    display: flex;
    align-items: center;
  }
  li>a {
    padding: 8px 24px;
  }
  li {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration:none;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .nav-links {
      display: none;
    }
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
    }
  }
    
  .Fotos {display:flex;
  flex:wrap}

  footer {
    background-color: rgb(0, 153, 180);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  footer form {
    margin-top: 20px;
  }
  
  footer label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  footer input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  footer button {
    background-color: rgb(0, 217, 255); 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: rgb(9, 0, 139); 
  }
